{
    on_demand_tls {
        ask http://web:3001/api/tls-verify
    }
}

traxsolucoes.com, www.traxsolucoes.com, www.traxsolucoes.com.br {
    redir https://traxsolucoes.com.br{uri} permanent
}

traxsolucoes.com.br {
    reverse_proxy web:3001
}

admin.traxsolucoes.com.br {
    tls force_automate
    reverse_proxy web:3001
}

api.traxsolucoes.com.br {
    tls force_automate
    reverse_proxy api:3000
}

# Subdomínios dinâmicos de agências (on_demand TLS)
*.traxsolucoes.com.br {
    tls {
        on_demand
    }
    reverse_proxy web:3001
}
